
.container {
  height: 500px;
  width:380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(192, 217, 238);
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 50px;
 
}

.button {
  height: 80px;
  width:80px;
  border: 1px solid rgb(155, 5, 5) ;
  font-size: 25px;
  font-weight: bold;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button1 {
  height: 80px;
  width:80px;
  background-color: rgb(253, 8, 49);
  border:  1px solid rgb(155, 5, 5) ; 
  font-size: 25px;
  font-weight: bold;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.clear-button {
  height:80px;
  width: 160px;
  color:red;
  border:  1px solid rgb(155, 5, 5) ; 
  font-size: 25px;
  font-weight: bold;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input-box {
  margin:  0%;
  height: 100px;
  width: 320px;
background-color: rgb(29, 2, 2);
color: white;
font-weight: bold;
font-size: 30px;
}

.button2 {
  height: 50px;
  width:107px;
  background-color: rgb(253, 8, 49);
  border:  1px solid rgb(155, 5, 5) ; 
  font-size: 25px;
  font-weight: bold;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.button3  {
  height: 50px;
  width:106px;
  border:  1px solid rgb(155, 5, 5) ; 
  font-size: 25px;
  font-weight: bold;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}